<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="styles/pages/landing-page.css")
        
    body
        .menu
            img.r4(src="images/main-logo.png", alt="", srcset="")
            a.right1(href="#why") Why Us
            a.right2(href="#how") How Does it Work
            a.right3(href="#same") Same Day Online
        //Introduction
            
        .intro
            
            .blue-backing 
                h1 Online Loans up to $5,200

            p.black <b>Apply at home, at work or on the go with a LendDirect loan online.</b>

            .intro-button
                button.apply APPLY NOW

            //Icons Set One
            .icon-set-one
                .icon-online
                    img(src="images/online-application.png", alt="", srcset="")
                    p.icon-text 100% Online Application
                .icon-decision
                    img(src="images/stop-watch.png", alt="ICON", srcset="")
                    p.icon-text Decision in 60 Minutes or Less
                .icon-funding
                    img(src="images/repay.png", alt="ICON", srcset="")
                    p.icon-text Same Day Funding Available

        //Why Us?
        .why-us#why

            .why.gray-bar 
                h2.left Why LendDirect?
            .why-info
                p <b>Personal Loans with Terms for Your Needs.</b> <br><br><br> LendDirect offers Canada personal loans online in the form of a line of credit. With a line of credit, your loan remains open as long as you need it. And if you need more money, you can take additional cash advances up to your credit limit. 

                p <b>Loans with Protection from the Unexpected.</b> <br><br><br> Whether you experience an illness, involuntary unemployment or an accident, our Loan Protection Plan has you covered. So you can focus on what matters most. 

                p <b>Canada-Based Customer Service.</b> <br><br><br> Have a question? Have a problem? With Canada-based Customer Service, we’re always here to help – no matter what you need.

        //How Does it Work?
        .how-it-works#how
            .how-header.gray-bar

                h2.right How Do Online Loans Work?
            .how-image
                p With LendDirect, you don’t need to visit a store or wait in long lines to apply for a personal loan. You can complete your personal loan application 100% online and submit it for a quick lending decision. Not only is our <u> online loan process </u> easy, but we also offer options to get your money the SAME DAY!

                .icon-set-two
                    .icon-1
                        p.icon 1
                        p.icon-text Apply Online
                    .icon-2
                        p.icon 2
                        p.icon-text Sign Loan Documents
                    .icon-3
                        p.icon 3
                        p.icon-text Verify Your Income
                    .icon-4
                        p.icon 4
                        p.icon-text Get a Lending Decision
                    .icon-5
                        p.icon 5
                        p.icon-text Get Your Cash

        //Same Day Loans
        .same-day
            .same-day-header.gray-bar#same
                h2 Same Day Loans Online.
            .same-day-image
                p We want to make online loans as simple and hassle-free as possible. That’s why you can completely apply for our personal loans online. If approved, select the INTERAC e-Transfer® funding option and you could get your money the same day! Ready to get started? 

                button.btn-bottom APPLY NOW

 
 

             
 





    



